@charset "UTF-8";

div#waveDecoDown {
    background-image: url("../Resources/Img/WaveDecoration.png");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;

    transform: rotate(180deg);
    width: 100%;
    height: 4.55em;
    margin-bottom: -2em;
}
div#waveDecoUp {
    position: relative;
    
    background-image: url("../Resources/Img/WaveDecoration.png");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    
    width: 100%;
    height: 4.55em;
    margin-top: -2em;

    display: flex;
}
div#waveFlagDeco {
    background-image: url("../Resources/Img/Kids_garland.png");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    
    width: 100%;
    height: 7em;

    margin-bottom: 2em;
}
/**/
.TxtNeon {
    color: #00c8c8;
}
.TxtNeonB{
    color: #ff75c7;
}
.TxtNeonC{
    color: #fca600;
}
.TxtNeonD{
    color: #8e2fea;
}
/**/
.newline{
    width: 50%;
    height: .25em;
    margin: 10em 0em 5em 0em;
    background-color: #F5F5F5;
}

@media screen and (max-width: 768px) {
    div#waveFlagDeco {
        height: 4.5em;
    }
    div#waveDecoUp {
        height: 3.5em;
    }
    div#waveDecoDown {
        height: 3.5em;
    }
}
@media screen and (max-width: 458px) {
    div#waveFlagDeco {
        height: 3em;
    }
    div#waveDecoUp {
        height: 2em;
    }
    div#waveDecoDown {
        height: 2em;
    }
}