@charset "UTF-8";


footer {
    display: flex;
    flex-direction: column;
}

footer ul{
    margin: 0em;
    padding: 0em;
}
/**/
footer #footer-link {
    width: 100%;
    display: flex;
    padding-top: 2.7em;
    padding-bottom: .5em;

    background-color: #FFE5CC;
    justify-content: center;
}
footer #footer-link li:nth-child(2){
    margin: 0em 3em;
}
footer #footer-link li:first-child img {
    width: 2.75em;
}
footer #footer-link li:nth-child(2) img {
    width: 2.3em;
}
footer #footer-link li:last-child img {
    width: 2.6em;
}
/**/
footer #footer-info{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "NanumSquareE";
    color: #ffffff;
    padding: 1.5em 1.5em;
    background-color: #FFD2B3;
}

footer #footer-info ul:nth-child(2) {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 100px 0px 100px;
}
footer #footer-info ul:not(:nth-child(2)) {
    font-size: 1.1875em;
}
footer #footer-info ul:not(:nth-child(2)) li:not(:last-child){
    padding-bottom: .125em;
}
footer #footer-info ul:nth-child(2) li:first-child{
    padding-bottom: 1.5em;
}
footer #footer-info ul:nth-child(2) li:last-child {
    text-align: center;
}
footer #footer-info ul:nth-child(2) img {
    width: 100%;
}