@charset "UTF-8";

@media screen and (max-width: 1330px) {
  nav.en {
    font-size: .8em;
    height: 4em;
  }
}

@media screen and (max-width: 1083px) {
  nav.en {
    font-size: .6em;
  }
}

@media screen and (max-width: 816px) {
  nav.en {
    font-size: .55em;
  }
}